<h1> Wanna set up a new user account? Start here! </h1>

<%= form_for @user do |f| %>

<%= f.label :Username %>
<div><%= f.text_field :username %></div>
<%= f.label :Password %>
<div><%= f.password_field :password %></div>
<%= f.label :confirm_password %>
<div><%= f.password_field :password_confirmation %></div>
<%= f.submit %>
<% end %>