<h1> Wanna set up a new user account? Start here! </h1>

<%= render partial: '/errors', locals: {record: @user} %>

<%= form_for @user, url: signup_path do |f| %>

<%= f.label :Username %>
<div><%= f.text_field :username %></div>
<%= f.label :Password %>
<div><%= f.password_field :password %></div>
<%= f.label :Confirm_password %>
<div><%= f.password_field :password_confirmation %></div>
<%= f.submit %>

<% end %>