<h1>Here is a list of donations that you have made !!!!</h1> 
<br>
<h3> You go you! You are making a difference! </h3>
<br>

<% @donations.each do |o| %>
 <li><%= o.date %>
<%= o.amount %>
<%= o.description %></li>
<% end%>

<%@donations.each do |d| %>
<h3><%= link_to d.orgz_id %> 
<% end %>


<p> To make a new donation <%= link_to 'New' , new_donation_path %> </p>