<h1>Here is a list of all the donations that you have made !!!!</h1> 
<br>
<h3> You go <i>you</i>! You are making a difference! </h3>
<br>

<% @donations.each do |o| %>
<h3><%= "Organization" %> </h3>
<b><%= o.organization.name %></b>
<h3><%= "Date" %> </h3>
 <li><%= o.date %></li>
 <h3><%= "Amount" %> </h3>
<li>$ <%= o.amount  %> dollars</li>
<h3><%= "Description" %> </h3>
<li><%= o.description %></li>

<% end%>


<p> To make a new donation <%= link_to 'New' , new_organization_donation_path %> </p>