<h1> Let's Start A New Donation! </h1>



<h2>Look at you! Being all proactive and stuff! Way to go.....<%= @orgz.name %> </h2>
<br>
<%= render partial: '/errors', locals: {record: @donation} %>

<br>
<%= form_for @donation do |f|%>
<%= f.label :date %>
<div><%= f.date_field :date %> </div>

<%= f.label :amount %>
<div><%= f.number_field :amount %></div>

<%= f.label :description %>
<div><%= f.text_area :description %></div>

<% if params[:organization_id]%>
<%= f.hidden_field(:organization_id, value: params[:organization_id])%>
<%else %>
<div><%= f.collection_select :organization_id, Organization.all, :id, :name %></div>

<% end %>
<%= f.submit "Submit Donation" %>

<% end %>






