<h1> Search for a specific animal type </h1>


<%= form_tag animal_search_path, :method => 'get' do %>

<%= text_field_tag :search, params[:search] %>

<%= submit_tag "Search", name: nil  %>
<% @error %>

<% end %>


<h1> Animal Organizations </h1>
Hey, check out all of the awesome animal organizations and rescues there are! Let your money find its way to a good claws...oops cause :)
<br>
<h1> <%= @orgz.name %> </h1>

<% @orgz.each do |o| %>

<p><%= link_to o.name, new_organization_donation_url(o) %></p>

<% end %>
  

